---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-light.css">
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <script src="https://use.fontawesome.com/d30ebd1ae6.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="{{site.url}}/javascripts/galleria/galleria-1.4.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>mission:home</h1></a>
        <img src="/images/mh.png"/>
        <a href="/pictures"><h4>Pictures</h4></a>
        <a href="/pricing"><h4>Pricing</h4></a>
        <a href="/values"><h4>Values</h4></a>
        <a href="{{site.data.links.application_form}}"><h4>Live With Us</h4></a>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><a href="https://www.instagram.com/missionhomesf/"><i class="fa fa-instagram" aria-hidden="true"></i>
</a> <a href="https://www.facebook.com/missionhomesf/"><i class="fa fa-facebook" aria-hidden="true"></i>
</a></p>
      </footer>
    </div>
    <script src="{{site.url}}/javascripts/scale.fix.js"></script>
  </body>
</html>
